.detail_page_main_container {
    width: 100%;
  }
  
  .detail_page_first_container {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail_page_image_container {
    width: 50%;
    height: 600px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detail_page_image_container > .big_img {
    width: 95%;
    height: 70%;
  }
  
  .detail_page_image_container > .big_img > .main_img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 10px;
  }
  
  .detail_page_image_container > .two_img {
    display: flex;
    width: 90%;
    height: 30%;
    justify-content: space-around;
    gap: 15px;
  }
  
  .two_img .img_first {
    width: 50%;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 10px;
  }
  
  .two_img .img_second {
    width: 50%;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 10px;
  }
  
  .product_detail_container {
    width: 50%;
    height: 550px;
    margin: 0px ;
  }
  .product_detail_container > div{
padding: 0px 20px 0px 20px;
margin-top: -20px;
  }
  
  
  
  .product_title_div {
    color: #214f6e;
  }
  
  .reviews_div {
    display: flex;
    align-items: center;
  }
  
  .reviews_div > p {
    font-size: large;
    margin-top: -0.1px;
    margin-left: 10px;
  }
  
  .availability_div span {
    color: green;
    font-weight: bold;
  }
  
  .left_products_div {
    opacity: 0.6;
  }
  .product_color_div{
    height: 30px;
  }
  
  .product_color_div button {
    padding: 10px;
    border:0.7px solid black;
    border-radius: 50px;
    margin: 0px 8px;
  }
  .product_color_div button:hover{
  
    border: 3px solid #2fff00;
  }
  .color_black{

  }
  .product_size_div{
    margin-bottom:25px ;
  }
  .product_size_div button {
   
    padding: 1px 8px;
    margin: 0px 2px;
    font-size: 12.5px;
  }
  .product_size_div span:hover{

    background: #c5c5c5;
  }
  
  .product_quantity_div span {
   
    padding: 0px 13px;
   
    
  }
  
  .product_quantity_div .red_btn {
    margin-bottom:5px;
    padding: 1px 12px ; 
    margin-right: -1px;
    border-radius: 0px;
    border: 1px solid #404040;
    outline: none;
    text-align: center;
    font-size: 18px;
  }
  .product_quantity_div .inc_btn {
    margin-bottom:5px;
    margin-left: -5px;
    padding: 1px 12px ;
    border-radius: 0px;
    border: 1px solid #404040;
    outline: none;
    text-align: center;
    font-size: 18px;
  }
  .product_quantity_div .value_btn{
    margin-bottom:5px;
    padding: 1px 20px ;
    border-radius: 0px;
    border: 1px solid #404040;
    outline: none;
    text-align: center;
    font-size: 18px;
  }
  
  
  .button_div {
    margin-top: -15px;
    display: flex;
    justify-content: space-around;
  }
  
   .button_div button {
    background: #eda515;
    border: none;
    padding: 3% 10%;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 5%;
  }
  
   .button_div > .wishlist_btn {
    padding: 0px 4px 0px 4px;
    background: rgb(238, 238, 238);
    border-radius: 50%;
  }
  
  .sku_div span {
    opacity: 0.8;
  }
  
  .category_div span {
    font-size: 11px;
    opacity: 0.5;
  }
  
  .share_div span {
    margin: 10px;
  }
  

  .detail_page_second_container{
    border: 2px solid rgb(228, 18, 18);
    margin: 20px;
    width: 100%;
    margin-top: 40px;
    
   }
    .rev_btn_div{
      margin-left: 36%;
      
  /* display: flex; */
  justify-content: space-around;
    }
    .rev_btn_div button{
      
  margin: 5px 10px;
  padding: 10px 40px;
  border: 0.7px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  color:#214f6e ;
  font-size: 12px;
  font-weight:bold;
    }
  
    .rev_btn_div button:hover{
      background-color: #214f6e;
      color: white;
    }
  
  .D_R_WR_div{
    border: 0.7px solid black;
    margin: 15px  ;
    border-radius: 10px;
    padding: 25px ;
    
  }
  .con_review_div button{
    margin: 5px 0px;
  padding: 5px 15px;
  border: 0.7px solid #214f6e;
  background-color: #214f6e;
  color:#ffffff ;
  font-size: 12px;
  font-weight:bold;
  text-decoration: underline;
  }
  .con_review_div button:hover{
    background-color: #ffffff;
  color:#214f6e ;
  }

  .write_review_div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
  }
  .review_show_div h4{
margin: 2px 0px;
  }
  /* Responsive styles */
  
 /* Responsive styles */

@media screen and (max-width: 1024px) {
    .detail_page_first_container {
      flex-direction: column;
    }
  
    .detail_page_image_container {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .detail_page_image_container > .big_img {
      height: 70%;
    }
  
    .detail_page_image_container > .two_img {
      height: auto;
      
    }
  
    .two_img .img_first,
    .two_img .img_second {
      /* width: 100%; */
      margin-bottom: 10px;
    }
  
    .product_detail_container {
        margin: 0px;
        padding: 0px;
      width: 100%;
      height: auto;
    }
    .button_div{
        margin: 0px;
        padding: 0px;
    }
  }






  @media screen and (max-width: 768px) {
    .detail_page_image_container {
      height:auto;
    }
  
    .two_img .img_first,
    .two_img .img_second {
      width: 48%;
      margin-bottom: 10px;
    }
  
    
   
  }
  
  @media screen and (max-width: 480px) {
    .detail_page_image_container {
      height: auto;
    }
  
    .detail_page_image_container .two_img  {
     display: none;
    }
  
    .product_detail_container {
      height: auto;
    }
  
    .product_quantity_div span {
      padding: 0 8px;
    }
  
     .button_div >button {
      padding: 1% 4%;
      font-size: 12px;
      
    }
   
    
  }
  