.footer {
    background-color: #f0f7ff;
    color: #007bff;
    /* text-align: center; */
    
   
  }
  
  .footer-container {
    width: 99%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;

  }
  
  .footer-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
   gap: 10px;
    width: 80%;
  }
  
  .footer-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }
  
  .footer-stack:first-child {
    margin-bottom: 2rem;
  }
  
  .footer-stack a {
    color: #666;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-stack a:hover {
    color: #333;
  }
  
  .footer-logo {
    height: 32px;
  }
  
  .footer-address {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  .footer-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }