/* Base styles for all screen sizes */
.header {
   background-color: #003f62;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: white;
}

.left {
   display: flex;
   align-items: center;
   width: 70%;
   justify-content: center;
   gap: 20px; /* Adjust the gap for smaller screens */
}

.right {
   display: flex;
   align-items: center;
   width: 30%;
   gap: 10px;
}

.header__first {
   margin-left: -250px;
   display: flex;
   align-items: center;
}

.header__first > h1 {
   font-weight: 500;
}

.header__second {
   display: flex;
   align-items: center;
   color: black;
   background-color: white;
   width: 40%;
   border-radius: 12px;
   /* margin-left: -30px; */
   justify-content: space-between;
}

.header__second > input {
   border: none;
   outline: none;
   margin-left: 22px;
}

.header__second > button {
   border-radius: 12px;
   background-color: #eda515;
   color: white;
   padding: 10px;
   width: 100px;
   font-size: 10px;
}

.header__second > button:hover {
   background-color: #eda515;
}

.header__third {
   display: flex;
   gap: 10px;
   margin-left: -80px;
}

.header__fourth {
   display: flex;
   align-items: center;
}

.header__fourth > span {
   width: 20px;
   text-align: center;
}

.header__fifth {
   display: flex;
   align-items: center;
}

.header__sixth {
   display: flex;
   align-items: center;
}

.header__sixth > span {
   width: 20px;
   text-align: center;
}

/* Media Query for Tablet */
@media (max-width: 768px) {
   .left {
       flex-direction: row;
       align-items: flex-center;
       width: 100%;
   }
.right{
   margin-right: 20px;
}
   .header__first,
   .header__second,
   .header__third,
   .header__fourth,
   .header__fifth,
   .header__sixth {
       margin-left: 0;
   }

   .header__second {
       width: 60%;
   }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
   .header {
       flex-direction: column;
       text-align: center;
   }
   .left {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
  }

   .left, .right {
       width: 100%;
       align-items: center;
       justify-content: center;
       margin-bottom: 10px;
   }

   .header__first > h1 {
       margin-top: 10px;
   }

   .header__second {
       width: 80%;
       margin-left: 0;
       margin-top: -20px;
       margin-bottom: 10px;
   }
}
