.popularProductHeading {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.popularProductHeading h2 {
  color: #003f62;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.categories button {
  border-radius: 12px;
  border: 0.1px solid #003f62;
  font-size: 14px;
  color: #003f62;
  padding: 8px;
  width: auto;
  cursor: pointer;
}

.box {
  margin: 0.5rem;
  width: 99%;
  min-height: 60vh;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 10px;
}

.box-item {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  max-height: 180px;
}

.box-item-content {
  margin-top: 1rem;
  line-height: 1.6rem;
}

.box-item-content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star-container {
  margin-top: 0.6rem;
}

.star-container svg {
  color: grey;
}

.center {
  text-align: center;
}

.button {
  margin: 1rem;
  padding: 1rem 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 15px;
}

.big_img {
  width: 99%;
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;
}

.big_img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.offer_div {
  width: 99%;
  margin-top: 20px;
  overflow: hidden;
}

.offer_div img {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 20px;
}

/* Media Queries for Tablet */
@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr;
      gap: 20px;
  }
}
